<a href="https://colab.research.google.com/github/CiroGomess/TCE/blob/main/TCE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Importando LIB Pandas <br/>
2 - GET dados : **API TCE** https://transparencia.tce.sp.gov.br/api/{formato}/despesas/{municipio}/{exercício}/{mês} <br/>
3 - Declarando variveis <br/>
4 - Usando Pandas para exposição dos Dados<br/>
5 - Tabela interativa

In [11]:
from unicodedata import normalize
import pandas as pd

In [ ]:
options = input('Escolha entre DESPESAS ou RECEITAS: ')
city = input('Digite o nome da cidade: ')
year = input('Digite o Ano: ')
month = input('Digite o mês: ')

In [14]:
url = f'https://transparencia.tce.sp.gov.br/api/xml/{options}/{city}/{year}/{month}'
df = pd.read_xml(url)

# Definindo estrutura de condições 

if options == "despesas":
  colunas =  df[['mes', 'nm_fornecedor', 'dt_emissao_despesa', 'vl_despesa']]
  display(colunas)
else: 
  colunas = [['mes', 'ds_fonte_recurso', 'ds_alinea', 'vl_arrecadacao']]
  display(colunas)

,mes,nm_fornecedor,dt_emissao_despesa,vl_despesa
0,Abril,ELEKTRO REDES S.A.,24/04/2020,"899,15"
1,Abril,EDNA REGINA DE OLIVEIRA,14/04/2020,"5811,35"
2,Abril,CONSELHO REG DE ENG E AGRON EST S P -CREA/SP,13/04/2020,"233,94"
3,Abril,PEDRO AUGUSTO BONI RUAS,27/04/2020,"53244,26"
4,Abril,EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS,08/04/2020,"21000,00"
...,...,...,...,...
4980,Abril,"CECAM- CONSULTORIA ECONÔMICA, CONTÁBIL, E ADM ...",20/04/2020,"885,26"
4981,Abril,TRIBUNAL DE CONTAS DO EST. SÃO PAULO,15/04/2020,"14553,85"
4982,Abril,PENSIONISTAS -SALAR.,03/04/2020,"476031,85"
4983,Abril,SERGIO SANTOS,09/04/2020,"8070,00"
4984,Abril,"CECAM- CONSULTORIA ECONÔMICA, CONTÁBIL, E ADM ...",27/04/2020,"11656,06"